*

!.git*

!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

!.editorconfig

!README.md

!defaults/
!defaults/*.yaml

!filter_plugins/
!filter_plugins/*.py

!tasks/
!tasks/*.yaml
